<h2>Add Post</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="pid">product Id</label>
    <input type="text"
            class="form-control"
            id="pid"
            name="pid"
            required
            [(ngModel)]="product.pid">
  </div>
  <div class="form-group">
    <label for="pname">Name</label>
    <input type="text"
            class="form-control"
            id="pname"
            name="pname"
            required
            [(ngModel)]="product.pname">
  </div>
  <div class="form-group">
    <label for="cost">cost</label>
    <input type="text"
            class="form-control"
            id="cost"
            name="cost"
            required
            [(ngModel)]="product.cost ">      
  </div>
    <div class="form-group">
    <label for="cid">category Id</label>
    <input type="text"
            class="form-control"
            id="cid"
            name="cid"
            required
            [(ngModel)]="product.categoryId ">      
  </div>
  
  <button  type="submit" class="btn btn-primary" >Submit</button>
</form>