<h2>Add Invoice</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="product">Product Name</label>
    <input type="text"
            class="form-control"
            id="product"
            name="product"
            required
            [(ngModel)]="invoice.product">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
            class="form-control"
            id="amount"
            name="amount"
            value="1000"
            placeholder="1000"
            required
            [(ngModel)]="invoice.amount">      
  </div>
  <button  type="submit" class="btn btn-primary" >Save invoice</button>
</form>