<jce-invoice-form-component (invoiceAddedEvent) = "addinvoice($event)"></jce-invoice-form-component>
<jce-spinner  [visible] = "isLoading"></jce-spinner>
<jce-invoice1 [invoice1]= invoice1></jce-invoice1>
  <li *ngFor = "let invoice of invoices" >
      Name: {{invoice.product}}, Email: {{invoice.amount}}
  </li>
  <jce-spinner  [visible] = "isLoading"></jce-spinner>
    <li *ngFor = "let invoice1 of invoices1" >
      Name: {{invoice1.product}}, Email: {{invoice1.amount}}
  </li>