<jce-spinner  [visible] = "isLoading"></jce-spinner>
<jce-product-form (productAddedEvent) = "addproduct($event)">></jce-product-form>  
<table border ="1" width="100%">
     <tr>
    <td>id</td>
    <td>name</td>
    <td>cost</td>
    <td>category id</td>
    </tr> 
  <tr *ngFor= "let product of products">
    <td>{{product.pid}}</td>
<td>{{product.pname}}</td>
<td>{{product.cost}}</td>
<td>{{product.categoryId}}</td>
  <jce-product [product] = product (deleteEvent) = "deleteProduct($event)"></jce-product>
<tr>
</table>
<br>
<br>

<jce-productsjoin></jce-productsjoin>