
<table border ="1" width="100%">
     <tr>
    <td>id</td>
    <td>name</td>
    <td>cost</td>
    <td>category Name</td>
    </tr> 
  <tr *ngFor= "let product of products">
    <td>{{product.pid}}</td>
<td>{{product.pname}}</td>
<td>{{product.cost}}</td>
<td *ngFor = "let cname of product.productCategory">
          {{(cname | async)?.cname}}</td>
  <jce-product [product] = product (deleteEvent) = "deleteProduct($event)"></jce-product>
<tr>
</table>